Write your asnwers according to your concepts and after solving this assignment, submit this notebook in google classroom. Mention User name like this **Assignment 04 (Name)**

## Question 01:
Look at the following statement:    
numbers = [10, 20, 30, 40, 50]
- a. How many elements does the list have?
- b. What is the index of the first element in the list?
- c. What is the index of the last element in the list?

In [1]:
# Here write your answer

## Question 02:
Look at the following statement:    
numbers = [1, 2, 3]
- a. What value is stored in numbers[2]?
- b. What value is stored in numbers[0]?
- c. What value is stored in numbers[-1]?

In [2]:
# Here write your answer

## Question 03:
Assume the lists numbers1 has 100 elements and numbers2 is an empty list. Write
code that copies the values in numbers1 to numbers2.

In [3]:
# Here write your answer

## Question 04:

### Number Analysis Program
Design a program that asks the user to enter a series of 5 numbers. The program should
store the numbers in a list and then display the following data:
- The lowest number in the list
- The highest number in the list
- The total of the numbers in the list
- The average of the numbers in the list

In [5]:
# Here write your answer

## Question 05:

How do you perform the following tasks with lists in Python?
- Test that two lists contain the same elements in the same order.
- Copy one list to another. 
- Fill a list with zeroes, overwriting all elements in it.
- Remove all elements from a list.

In [6]:
# Here write your answer

## Question 06:

Write a program that initializes a list with ten random integers and then prints four 
lines of output, containing
- Every element at an even index.
- Every even element.
- All elements in reverse order.
- Only the first and last element.

In [7]:
# Here write your answer

## Question 07:
Write a function removeMin that removes the minimum value from a list without using 
the min function or remove method.

In [8]:
# Here write your answer

## Question 08:
One acre of land is equivalent to 43,560 square feet. Write a program that asks the user 
to enter the total square feet in a tract of land, and then calculates and display the number of acres in the tract.

In [9]:
# Here write your answer

## Question 09:
There are three seating categories at a stadium. For a softball game, Class A seats cost 
$15, Class  B  seats  cost $12, and Class C seats cost $9. Write a program that asks how many  tickets for each class of seats were sold, and then displays the amount of income 
generated from ticket sales.

In [10]:
# Here write your answer

## Question 10:
Write a program in which create a list of 10 random integers and find the product of all elements of a list.

In [11]:
# Here write your answer

## Question 11:

Given the set definitions below, answer the following questions:    
set1 = { 1, 2, 3, 4, 5 }   
set2 = { 2, 4, 6, 8 }    
set3 = { 1, 5, 9, 13, 17 }   
- a.  Is set1 a subset of set2?
- b.  Is the intersection of set1 and set3 empty?
- c.  What is the result of performing set union on set1 and set2?
- d.  What is the result of performing set intersection on set2 and set3?
- e.  What is the result of performing set intersection on all three sets?
- f.  What is the result of performing the set difference on set1 and set2 (set1 – set2)?
- g.  What is the result of the instruction set1.discard(5)? 
- h.  What is the result of the instruction set2.discard(5)?

In [12]:
# Here write your answer

## Question 12:

Given three sets, set1, set2, and set3, write Python statement(s) to perform the following actions:  
- a.  Create a new set of all elements that are in set1 or set2, but not both.
- b.  Create a new set of all elements that are in only one of the three sets set1, set2, and set3.
- c.  Create a new set of all elements that are in exactly two of the sets set1, set2, and set3.
- d.  Create a new set of all integer elements in the range 1 through 25 that are not in set1.
- e.  Create a new set of all integer elements in the range 1 through 25 that are not in any of the three sets set1, set2, or set3.
- f.  Create a new set of all integer elements in the range 1 through 25 that are not in all three sets set1, set2, and set3.

Here you can also manully add elements in the sets by using loops.     
But in this case, i am using random module to generate all sets

In [13]:
# Here write your answer

## Question 13:

Write a program that asks a user to type in two strings and that prints
- the characters that occur in both strings.
- the characters that occur in one string but not the other.
- the letters that don’t occur in either string.   
Use the set function to turn a string into a set of characters.

In [14]:
# Here write your answer

## Question 14:
### Rainfall Statistics
Design a program that lets the user enter the total rainfall for each of 12 months into a list. The program should calculate and display the total rainfall for the year, the average monthly rainfall, and the months with the highest and lowest amounts.

In [15]:
# Here write your answer

## Question 15:

Consider the given tuple and write the python code for  given statements: T1 = (1, 23, 4, 5, “A”, [“C”, “D”], (23, 45), 45).
   - a.  Find Total elements in the given Tuple
   - b.  Find the index of any given element 
   - c.  Find the occurence of any given element
   - d.  How we can print "CC" for above given Tuple
   - e.  Print first 5 elements of the tuple
   - f.  Print last 5 elements of the tuple
   - h.  How we can get this output (45, ['C', 'D'], 5) from given tuple
   - i.  Concatenate elements of tuple present at index 4 and 5
   - j.  Use max() function on given tuple, and what is your output?

In [16]:
# Here write your answer